@font-face {
  font-family: "iconfont"; /* Project id 2860619 */
  src: url('iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pv-icon-next:before {
  content: "\e6a2";
}

.pv-icon-delete:before {
  content: "\e699";
}

.pv-icon-down:before {
  content: "\e69b";
}

.pv-icon-increase:before {
  content: "\e69f";
}

.pv-icon-prompt:before {
  content: "\e6a0";
}

.pv-icon-soundsize:before {
  content: "\e6a1";
}

.pv-icon-upward:before {
  content: "\e6a3";
}

.pv-icon-back:before {
  content: "\e6db";
}

.pv-icon-address:before {
  content: "\e6dc";
}

.pv-icon-close:before {
  content: "\e6dd";
}

.pv-icon-message:before {
  content: "\e6df";
}

.pv-icon-search:before {
  content: "\e6e1";
}

.pv-icon-instruction:before {
  content: "\e6e2";
}

.pv-icon-respond:before {
  content: "\e6e3";
}

.pv-icon-dislike:before {
  content: "\e6e9";
}

.pv-icon-like:before {
  content: "\e6eb";
}

.pv-icon-mark:before {
  content: "\e6ec";
}

.pv-icon-setting:before {
  content: "\e6f0";
}

.pv-icon-View:before {
  content: "\e640";
}

.pv-icon-a-Radialspinnerloading:before {
  content: "\e625";
}

